<div class="cover-pic">
    <div class="cover-form">

<%= flash[:notice] %>
    <%= form_for :user,  url: {action: "create"} do |f| %>

    <%= f.label :first_name, "First name" %><br />
    <%= f.text_field :first_name, placeholder: "first name" %><br>

    <%= f.label :username, "username" %><br />
    <%= f.text_field :username, placeholder: "username" %><br>

    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email, placeholder: "email" %><br>

    <%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "password"  %><br>

    <%= f.label :password_confirmation, "Confirm password" %><br />
    <%= f.password_field :password_confirmation, placeholder: "confirm password"  %><br>

    <div class="text-center">
      <%= f.submit "Sign Me Up!"%>
    </div>

<% end %>
</div>
</div>
