<ul>
  <li class="header">NutShell</li>
  <li class="signup"><%= link_to 'Sign Up!', new_user_path %></li>
</ul>


<%= form_for :user,  url: {action: "login"} do |f| %>

    <%= f.text_field :username, placeholder: "Username" %><br>

    <%= f.password_field :password, placeholder: "Password"  %><br>

    <div class="text-center">
      <%= f.submit "Sign Me In!"%>
    </div>

<% end %>
