<!DOCTYPE html>
<html>
<head>
  <title>Nutshell</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>

    <% if current_user %>
      <%= link_to 'Sign Out', sign_out_path(@user) %>
      <%= link_to 'Home', :root  %>
      <%= link_to @user.username, @user %>
    <% end %>

    </nav>
<%= yield %>

</body>
</html>
